.carrosel_titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 0.5em 0 0.5em 0;
}
.swiper {
    width: 100%;
    padding: 1em 0 3em 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 60%;
    max-width: 220px;
    height: auto;
}

.swiper-pagination {
    position: initial;
    margin: 1em 0;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}